@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --text-gray: #4a4a4a;
    --color-primary: #4d41c0;
    --bg-gray: #e8e8e8;
    --white: #fff;
    --text-ligth-gray: #aaa;
  }
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: #ddd;
}
header{
    background-color: #4D41C0;
    color:cornsilk
}
nav{
    display: flex;
    align-items:center;
    justify-content:space-between ;
}

a,a:hover{
    text-decoration: none;
    color: unset;
}
.DSMovie-card{
    width: 100%;
    
}
#DSMovie-card-list{

    padding: 40px 0;

}
.DSMovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.DSMovie-card-description{
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}
.DSMovie-card-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}
.DSMovie-button, .DSMovie-button:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}
.DSMovie-form-container{
    padding: 40px 0;
    max-width: 480px;
}
.DSMovie-form-description{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}
.DSMovie-form-group{
    margin-bottom: 20px;
}
.DSMovie-form-group label{
    font-size: 12px;
    color: var(--text-ligth-gray);
}
.DSMovie-form{
    width: 100%;
}
.DSMovie-form-button-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.DSMovie-form-description h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}